body{
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: cadetblue;
    padding: 30px;
}
h1{
    text-align: center;
}
table{
    text-align:center;
    position: relative;
    margin-right: 30%;
    margin-top: 100px;
    display: flex;
    flex-direction:column;
    font-family: sans-serif;
}

input{
    width: 200px;
    margin-left: 40px;
    margin-top: 12px;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
}

img{
    width: 100%;
    border-radius: 70px;
} 
